html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
opt,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  background-color: #1b1c1a;
}
body {
  font-family: 'VT323', monospace;
  margin: auto;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  height: 100%;
  min-height: 100vh;
}
a {
  text-decoration: none;
  cursor: pointer;
  scroll-behavior: smooth;
}
h2,
h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
h2 {
  font-size: 5em;
}
@media (max-width: 640px) {
  h2 {
    font-size: 40px;
  }
}
h3 {
  font-size: 2em;
}
@media (max-width: 640px) {
  h3 {
    font-size: 24px;
  }
}
address {
  text-decoration: none;
}
hr {
  border: none;
  width: 100%;
  height: 1px;
}
ul {
  list-style: none;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@supports (-ms-ime-align: auto) {
  ul {
    margin-left: -40px;
  }
}
ol {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
blockquote {
  font-style: italic;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}
figure {
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-left: 0;
}
fieldset {
  padding: 0;
  border: none;
}
progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}
input:disabled {
  cursor: not-allowed;
}
.option,
.endround:not(:disabled),
option {
  cursor: pointer;
}
.option {
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 100%;
  padding-top: 4px;
}
.option + .option {
  margin-left: 0.5em;
}
.endround {
  max-width: 320px;
  height: 60px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1em 2em;
  border: 3px solid hsl(0, 3%, 27%);
  font-weight: bold;
  letter-spacing: 1.25em;
}
.endround:disabled {
  opacity: 0.5;
}
.endround:hover:not(:disabled) {
  border-color: hsl(0, 0%, 95%);
}
.cell-container {
  height: 125px;
  width: 125px;
  background-size: cover;
}
.cell-container.-building.-city.-active::after {
  content: '+ 200$';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  color: hsl(120, 100%, 50%);
  font-weight: bold;
  -webkit-animation: addMoneyToBalance 5s forwards;
          animation: addMoneyToBalance 5s forwards;
}
.cell-container.-building.-ongrass.-roadbottom {
  background-image: url('../assets/cells/cell-building-on-grass-road-bottom.png');
}
.cell-container.-building.-ongrass.-roadbottom.-halfcaptured {
  background-image: url('../assets/cells/cell-building-on-grass-road-bottom-half-captured.png');
}
.cell-container.-building.-ongrass.-roadbottom.-halfcaptured.-capturedby1 {
  background-image: url('../assets/cells/cell-building-on-grass-road-bottom-half-captured-captured-by-1.png');
}
.cell-container.-building.-ongrass.-roadbottom.-halfcaptured.-capturedby2 {
  background-image: url('../assets/cells/cell-building-on-grass-road-bottom-half-captured-captured-by-2.png');
}
.cell-container.-building.-ongrass.-roadbottom.-capturedby1 {
  background-image: url('../assets/cells/cell-building-on-grass-road-bottom-captured-by-1.png');
}
.cell-container.-building.-ongrass.-roadbottom.-capturedby2 {
  background-image: url('../assets/cells/cell-building-on-grass-road-bottom-captured-by-2.png');
}
.cell-container.-building.-factory.-ongrass {
  background-image: url('../assets/cells/cell-building-factory-on-grass.png');
}
.cell-container.-building.-factory.-ongrass.-halfcaptured {
  background-image: url('../assets/cells/cell-building-factory-on-grass-half-captured.png');
}
.cell-container.-building.-factory.-ongrass.-halfcaptured.-capturedby1 {
  background-image: url('../assets/cells/cell-building-factory-on-grass-half-captured-captured-by-1.png');
}
.cell-container.-building.-factory.-ongrass.-halfcaptured.-capturedby2 {
  background-image: url('../assets/cells/cell-building-factory-on-grass-half-captured-captured-by-2.png');
}
.cell-container.-building.-factory.-ongrass.-capturedby1 {
  background-image: url('../assets/cells/cell-building-factory-on-grass-captured-by-1.png');
}
.cell-container.-building.-factory.-ongrass.-capturedby2 {
  background-image: url('../assets/cells/cell-building-factory-on-grass-captured-by-2.png');
}
.cell-container.-building.-factory.-ongrass.-roadbottom {
  background-image: url('../assets/cells/cell-building-factory-on-grass-road-bottom.png');
}
.cell-container.-building.-factory.-ongrass.-roadbottom.-halfcaptured {
  background-image: url('../assets/cells/cell-building-factory-on-grass-road-bottom-half-captured.png');
}
.cell-container.-building.-factory.-ongrass.-roadbottom.-halfcaptured.-capturedby1 {
  background-image: url('../assets/cells/cell-building-factory-on-grass-road-bottom-half-captured-captured-by-1.png');
}
.cell-container.-building.-factory.-ongrass.-roadbottom.-halfcaptured.-capturedby2 {
  background-image: url('../assets/cells/cell-building-factory-on-grass-road-bottom-half-captured-captured-by-2.png');
}
.cell-container.-building.-factory.-ongrass.-roadbottom.-capturedby1 {
  background-image: url('../assets/cells/cell-building-factory-on-grass-road-bottom-captured-by-1.png');
}
.cell-container.-building.-factory.-ongrass.-roadbottom.-capturedby2 {
  background-image: url('../assets/cells/cell-building-factory-on-grass-road-bottom-captured-by-2.png');
}
.cell-container.-building.-ongrass.-hospital.-roadbottom {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-bottom.png');
}
.cell-container.-building.-ongrass.-hospital.-roadbottom.-halfcaptured {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-bottom-half-captured.png');
}
.cell-container.-building.-ongrass.-hospital.-roadbottom.-halfcaptured.-capturedby1 {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-bottom-half-captured-captured-by-1.png');
}
.cell-container.-building.-ongrass.-hospital.-roadbottom.-halfcaptured.-capturedby2 {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-bottom-half-captured-captured-by-2.png');
}
.cell-container.-building.-ongrass.-hospital.-roadbottom.-capturedby1 {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-bottom-captured-by-1.png');
}
.cell-container.-building.-ongrass.-hospital.-roadbottom.-capturedby2 {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-bottom-captured-by-2.png');
}
.cell-container.-building.-ongrass.-hospital.-roadright {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-right.png');
}
.cell-container.-building.-ongrass.-hospital.-roadright.-halfcaptured {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-right-half-captured.png');
}
.cell-container.-building.-ongrass.-hospital.-roadright.-halfcaptured.-capturedby1 {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-right-half-captured-captured-by-1.png');
}
.cell-container.-building.-ongrass.-hospital.-roadright.-halfcaptured.-capturedby2 {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-right-half-captured-captured-by-2.png');
}
.cell-container.-building.-ongrass.-hospital.-roadright.-capturedby1 {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-right-captured-by-1.png');
}
.cell-container.-building.-ongrass.-hospital.-roadright.-capturedby2 {
  background-image: url('../assets/cells/cell-building-hospital-on-grass-road-right-captured-by-2.png');
}
.cell-container.-crater.-onroad.-ongrass {
  background-image: url('../assets/cells/cell-crater-on-road-on-grass.png');
}
.cell-container.-grass {
  background-image: url('../assets/cells/cell-grass.png');
}
.cell-container.-moutain.-ongrass {
  background-image: url('../assets/cells/cell-moutain-on-grass.png');
}
.cell-container.-moutain.-ongrass.-variant {
  background-image: url('../assets/cells/cell-moutain-on-grass-variant.png');
}
.cell-container.-ruins.-ongrass {
  background-image: url('../assets/cells/cell-ruins-on-grass.png');
}
.cell-container.-bush.-ongrass {
  background-image: url('../assets/cells/cell-bush-on-grass.png');
}
.cell-container.-bush.-ongrass.-variant {
  background-image: url('../assets/cells/cell-bush-on-grass-variant.png');
}
.cell-container.-road.-v {
  background-image: url('../assets/cells/cell-road-v.png');
}
.cell-container.-road.-h {
  background-image: url('../assets/cells/cell-road-h.png');
}
.cell-container.-road.-angle.-bottom.-left {
  background-image: url('../assets/cells/cell-road-angle-bottom-left.png');
}
.cell-container.-road.-angle.-bottom.-left.-tobuilding {
  background-image: url('../assets/cells/cell-road-angle-bottom-left-to-building.png');
}
.cell-container.-road.-anglejunction {
  background-image: url('../assets/cells/cell-road-angle-junction.png');
}
.cell-container.-road.-tobuildingtop {
  background-image: url('../assets/cells/cell-road-to-building-top.png');
}
.cell-container.-sand.-ongrass.-top {
  background-image: url('../assets/cells/cell-sand-on-grass-top.png');
}
.cell-container.-sand.-ongrass.-bottom {
  background-image: url('../assets/cells/cell-sand-on-grass-bottom.png');
}
.cell-container.-sand.-ongrass.-right {
  background-image: url('../assets/cells/cell-sand-on-grass-right.png');
}
.cell-container.-sand.-ongrass.-corner.-top.-right {
  background-image: url('../assets/cells/cell-sand-on-grass-corner-top-right.png');
}
.cell-container.-water {
  background-image: url('../assets/cells/cell-water.png');
  opacity: 1;
  -webkit-animation: waterAnimation 5s linear infinite;
          animation: waterAnimation 5s linear infinite;
}
.cell-container.-water::before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  background-image: url('../assets/cells/cell-water-no-dash-stroke.png');
  -webkit-animation: waterAnimationBefore 10s linear infinite;
          animation: waterAnimationBefore 10s linear infinite;
}
.cell-container.-inrange::before {
  position: absolute;
  display: flex;
  content: '';
  width: 125px;
  height: 125px;
  background-color: hsla(0, 0%, 10%, 0.25);
  z-index: 0;
}
.cell-container.-inrange .unit-container {
  position: relative;
  z-index: 1;
}
.cell-container.-inrange .unit-container.-inrange::before {
  position: absolute;
  display: flex;
  content: '';
  width: 50px;
  height: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../assets/icons/icon-crosshair.png);
  background-size: contain;
  z-index: 20;
}
.cell-container.-reachable::before {
  position: absolute;
  display: flex;
  content: '';
  width: 125px;
  height: 125px;
  background-color: hsla(210, 100%, 45%, 0.5);
  z-index: 0;
}
.explosion {
  width: inherit;
  height: inherit;
}
.unit-container {
  width: inherit;
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
}
.unit-container.-highlighted {
  width: 135px;
  height: 135px;
}
.unit-container.-highlighted.-outofresidualmovecapacity {
  border: 0;
  opacity: 0.75;
}
.unit-container.-infantry.-one {
  background-image: url('../assets/units/cat-1.png');
}
.unit-container.-infantry.-one.-artillery {
  background-image: url('../assets/units/cat-1-artillery.png');
}
.unit-container.-infantry.-two {
  background-image: url('../assets/units/cat-2.png');
}
.unit-container.-infantry.-two.-artillery {
  background-image: url('../assets/units/cat-2-artillery.png');
}
.unit-container.-jeep.-one {
  background-image: url('../assets/units/cat-1-jeep.png');
}
.unit-container.-jeep.-two {
  background-image: url('../assets/units/cat-2-jeep.png');
}
.stats-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  pointer-events: none;
  margin: 0.25em;
}
.stats-container.-cell {
  gap: 0.25em;
  display: none;
}
.stats-container.-unit .stat::before {
  margin-right: 0.25em;
}
.stats-container .stat {
  z-index: 999;
}
.stats-container .stat::before {
  content: "";
  width: 25px;
  height: 25px;
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
}
.stats-container .stat.-costofmovement::before {
  background-image: url('../assets/icons/icon-movement-range.png');
}
.stats-container .stat.-bonusofdefense::before {
  background-image: url('../assets/icons/icon-defense.png');
}
.stats-container .stat.-player.-one::before {
  background-image: url('../assets/icons/icon-player-one.png');
}
.stats-container .stat.-player.-two::before {
  background-image: url('../assets/icons/icon-player-two.png');
}
.stats-container .stat.-health::before {
  background-image: url('../assets/icons/icon-health.png');
}
.stats-container .stat.-movementrange::before {
  background-image: url('../assets/icons/icon-movement-range.png');
}
.stats-container .stat.-attackdamage::before {
  background-image: url('../assets/icons/icon-attack-damage.png');
}
.stats-container .stat.-attackrange::before {
  background-image: url('../assets/icons/icon-attack-range.png');
}
.stats-container .stat.-attackcapacity::before {
  background-image: url('../assets/icons/icon-attack-capacity.png');
}
.stats-container .stat.-defense::before {
  background-image: url('../assets/icons/icon-defense.png');
}
.board-container {
  width: 100%;
  max-width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-image: url('../assets/background-military.png');
}
.console-container {
  width: 100%;
  height: 100%;
  height: 60px;
  overflow: auto;
  position: relative;
  padding: 2em;
  margin-top: 1em;
  z-index: 1;
  font-size: 2em;
  font-family: 'VT323', monospace;
  display: none;
}
.console-container.active {
  display: flex;
  flex-flow: column;
}
.console-container::-webkit-scrollbar {
  width: 0.125em;
}
.console-container::-webkit-scrollbar-thumb {
  width: inherit;
  background: hsl(120, 100%, 50%);
}
.console-container::-webkit-scrollbar-thumb:active,
.console-container::-webkit-scrollbar-thumb:hover {
  background: darkred;
}
.console-container p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: hsl(0, 0%, 95%);
}
.factory-container {
  width: 100%;
  max-width: 640px;
  display: none;
  gap: 1em;
  position: fixed;
  top: 2em;
  left: 0;
  right: 0;
  margin: auto;
  background-color: hsl(0, 3%, 27%);
  z-index: 999;
  padding: 2em;
}
.factory-container .factoryunit-container .nameandprice-container {
  width: 75%;
}
.factory-container .factoryunit-container button {
  max-width: 120px;
}
.grid-container {
  max-width: 100%;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: #1e1e1e73 20px 12px 20px 20px;
  z-index: 1;
  margin-top: 2em;
  margin-bottom: 2em;
}
.grid-container.-board1 {
  grid-template-columns: repeat(8, 0fr);
  grid-template-rows: repeat(8, 0fr);
}
.grid-container.-board2 {
  grid-template-columns: repeat(12, 0fr);
  grid-template-rows: repeat(8, 0fr);
}
.grid-container .cell-container {
  position: relative;
}
.grid-container .cell-container .stats-container.-cell {
  display: none;
}
.grid-container .cell-container .stats-container.-unit .substats-container {
  display: none;
}
.grid-container .cell-container:hover .stats-container.-cell {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
.grid-container .cell-container:hover .stats-container.-unit .substats-container {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  z-index: 999;
  -webkit-transform: translate(-55px, 0);
          transform: translate(-55px, 0);
}
.index-container .logo {
  max-width: 960px;
  width: 100%;
}
.moneyandplayer-container {
  width: 100%;
  padding: 2em;
}
.moneyandplayer-container .moneyandendround-container {
  margin-top: 0.5em;
}
.moneyandplayer-container .money-container {
  width: 100%;
}
.moneyandplayer-container .round-container {
  width: 100%;
}
.moneyandplayer-container .player-container {
  gap: 0.5em;
}
.moneyandplayer-container .player-container img {
  width: 30px;
  height: 30px;
  display: none;
}
.moneyandplayer-container .player-container img.active {
  display: flex;
}
.ui-wrapper {
  width: 100%;
  min-height: 60px;
}
.ui-wrapper > * {
  margin-bottom: 1em;
}
.expandable-container {
  min-height: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.expandable-container *:not(h2) {
  display: none;
}
.expandable-container:hover * {
  display: flex;
}
.options-container {
  margin-bottom: 1em;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@-webkit-keyframes waterAnimation {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 102.5%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes waterAnimation {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 102.5%;
  }
  100% {
    background-size: 100%;
  }
}
@-webkit-keyframes waterAnimationBefore {
  0% {
    background-position-y: 10%;
    background-position-x: 10%;
    opacity: 0.1;
  }
  50% {
    background-position-y: 20%;
    background-position-x: 50%;
    opacity: 0.5;
  }
  100% {
    background-position-y: 10%;
    background-position-x: 10%;
    opacity: 0.1;
  }
}
@keyframes waterAnimationBefore {
  0% {
    background-position-y: 10%;
    background-position-x: 10%;
    opacity: 0.1;
  }
  50% {
    background-position-y: 20%;
    background-position-x: 50%;
    opacity: 0.5;
  }
  100% {
    background-position-y: 10%;
    background-position-x: 10%;
    opacity: 0.1;
  }
}
@-webkit-keyframes addMoneyToBalance {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}
@keyframes addMoneyToBalance {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}
.glow {
  -webkit-animation: glow 1s ease-in-out 3 alternate;
          animation: glow 1s ease-in-out 3 alternate;
}
._unborder {
  border: none;
}
._unborderradius {
  border-radius: 0;
}
._color.-white {
  color: hsl(0, 0%, 95%);
}
._color.-bgblack {
  background-color: hsl(240, 2%, 11%);
}
._color.-lightblack {
  color: hsl(240, 2%, 26%);
}
._color.-bglightblack {
  background-color: hsl(240, 2%, 26%);
}
._color.-green {
  color: hsl(120, 100%, 50%);
}
._color.-red {
  color: hsl(0, 64%, 42%);
}
._display.-block {
  display: block;
}
._display.-grid {
  display: grid;
}
._display.-table {
  display: table;
}
._display.-none {
  display: none;
}
._flex {
  display: flex;
}
._flex.-wrap {
  flex-wrap: wrap;
}
._flex.-row {
  flex-direction: row;
}
._flex.-rowreverse {
  flex-direction: row-reverse;
}
._flex.-columnreverse {
  flex-direction: column-reverse;
}
._flex.-column {
  flex-direction: column;
}
._flex.-justifystart {
  justify-content: flex-start;
}
._flex.-justifyend {
  justify-content: flex-end;
}
._flex.-justifyspacebetween {
  justify-content: space-between;
}
._flex.-justifyspacearound {
  justify-content: space-around;
}
._flex.-justifyspacevenly {
  justify-content: space-evenly;
}
._flex.-justifycenter {
  justify-content: center;
}
._flex.-alignbaseline {
  align-items: baseline;
}
._flex.-aligncenter {
  align-items: center;
}
._flex.-alignend {
  align-items: flex-end;
}
._flex.-alignspacevenly {
  align-items: space-evenly;
}
._flex.-alignstart {
  align-items: flex-start;
}
._flex.-alignselfstart {
  align-self: self-start;
}
._flex.-alignselfend {
  align-self: self-end;
}
._flex.-gap.-half {
  gap: 0.25em;
}
._hide.-always {
  display: none;
}
@media (max-width: 320px) {
  ._hide.-lessthan.-xxs {
    display: none;
  }
}
@media (max-width: 480px) {
  ._hide.-lessthan.-xs {
    display: none;
  }
}
@media (max-width: 640px) {
  ._hide.-lessthan.-s {
    display: none;
  }
}
@media (max-width: 960px) {
  ._hide.-lessthan.-m {
    display: none;
  }
}
@media (max-width: 1024px) {
  ._hide.-lessthan.-l {
    display: none;
  }
}
@media (max-width: 1980px) {
  ._hide.-lessthan.-xl {
    display: none;
  }
}
@media (min-width: 321px) {
  ._hide.-morethan.-xxs {
    display: none;
  }
}
@media (min-width: 481px) {
  ._hide.-morethan.-xs {
    display: none;
  }
}
@media (min-width: 641px) {
  ._hide.-morethan.-s {
    display: none;
  }
}
@media (min-width: 961px) {
  ._hide.-morethan.-m {
    display: none;
  }
}
@media (min-width: 1025px) {
  ._hide.-morethan.-l {
    display: none;
  }
}
@media (min-width: 1981px) {
  ._hide.-morethan.-xl {
    display: none;
  }
}
._margin.-auto {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  ._margin.-lessthan.-xss {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 480px) {
  ._margin.-lessthan.-xs {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 640px) {
  ._margin.-lessthan.-s {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  ._margin.-lessthan.-m {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  ._margin.-lessthan.-l {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  ._margin.-lessthan.-xl {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  ._margin.-lessthan.-xxl {
    margin-left: 0;
    margin-right: 0;
  }
}
._margin.-none {
  margin: 0;
}
._text.-center {
  text-align: center;
}
._text.-right {
  text-align: right;
}
._text.-left {
  text-align: left;
}
._text.-justify {
  text-align: justify;
}
._text.-unbold {
  font-weight: 400;
}
._text.-bold {
  font-weight: 700;
}
._text.-xs {
  font-size: 0.75em;
}
._text.-s {
  font-size: 1em;
}
._text.-m {
  font-size: 1.5em;
}
._text.-l {
  font-size: 2em;
}
._text.-xl {
  font-size: 3em;
}
._text.-capitalize {
  text-transform: capitalize;
}
._text.-uppercase {
  text-transform: uppercase;
}
._text.-italic {
  font-style: italic;
}
