html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
opt,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  background-color: #1b1c1a;
}
body {
  font-family: 'VT323', monospace;
  margin: auto;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  height: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  scroll-behavior: smooth;
}
address {
  text-decoration: none;
}
hr {
  border: none;
  width: 100%;
  height: 1px;
}
ul {
  list-style: none;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
@supports (-ms-ime-align: auto) {
  ul {
    margin-left: -40px;
  }
}
ol {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
blockquote {
  font-style: italic;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}
figure {
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-left: 0;
}
fieldset {
  padding: 0;
  border: none;
}
progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}
input:disabled {
  cursor: not-allowed;
}
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid hsl(240, 2%, 41%);
}
.button:not(:disabled) {
  cursor: pointer;
}
.button.-option,
.button.-close {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.button.-option {
  padding-top: 4px;
}
.button.-endround {
  max-width: 320px;
  height: 40px;
  font-weight: bold;
}
.button.-endround:disabled {
  opacity: 0.5;
}
.button.-endround:hover:not(:disabled) {
  border-color: hsl(0, 0%, 95%);
}
.cell-container {
  width: 32px;
  height: 32px;
  background-size: cover;
}
@media (min-width: 480px) {
  .cell-container {
    width: 48px;
    height: 48px;
  }
}
@media (min-width: 640px) {
  .cell-container {
    width: 56px;
    height: 56px;
  }
}
@media (min-width: 960px) {
  .cell-container {
    width: 80px;
    height: 80px;
  }
}
.cell-container .stats-container {
  display: none;
}
.cell-container:hover .stats-container {
  display: flex;
  position: absolute;
  top: 0;
}
.cell-container.-attackable::before {
  width: inherit;
  height: inherit;
  position: absolute;
  display: flex;
  content: '';
  background-color: hsla(0, 0%, 10%, 0.25);
  z-index: 0;
}
.cell-container.-attackable .unit-container {
  position: relative;
  z-index: 1;
}
.cell-container.-attackable .unit-container.-inrange::before {
  position: absolute;
  display: flex;
  content: '';
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../assets/icons/icon-crosshair.png);
  background-size: contain;
  z-index: 20;
}
.cell-container.-reachable::before {
  width: inherit;
  height: inherit;
  position: absolute;
  display: flex;
  content: '';
  background-color: hsla(210, 100%, 45%, 0.5);
  z-index: 0;
}
.cell-container.-grass {
  background-image: url('../assets/cells/cell-grass.png');
}
.cell-container.-moutain.-ongrass {
  background-image: url('../assets/cells/cell-moutain-on-grass.png');
}
.cell-container.-forest.-ongrass {
  background-image: url('../assets/cells/cell-forest-on-grass.png');
}
.cell-container.-road.-v {
  background-image: url('../assets/cells/cell-road-v.png');
}
.cell-container.-road.-h {
  background-image: url('../assets/cells/cell-road-h.png');
}
.cell-container.-road.-corner.-top {
  background-image: url('../assets/cells/cell-road-corner-top.png');
}
.cell-container.-road.-corner.-bottom {
  background-image: url('../assets/cells/cell-road-corner-bottom.png');
}
.cell-container.-road.-endtop {
  background-image: url('../assets/cells/cell-road-end-top.png');
}
.cell-container.-water {
  background-image: url('../assets/cells/cell-water.png');
}
.cell-container.-water.-grass.-right {
  background-image: url('../assets/cells/cell-water-grass-on-right.png');
}
.cell-container.-water.-grass.-right.-bottom {
  background-image: url('../assets/cells/cell-water-grass-on-right-and-bottom.png');
}
.cell-container.-building.-factory.-ongrass {
  background-image: url('../assets/cells/cell-factory-on-grass.png');
}
.cell-container.-building.-factory.-ongrass.-capturedby1 {
  background-image: url('../assets/cells/cell-factory-on-grass-captured-by-1.png');
}
.cell-container.-building.-factory.-ongrass.-capturedby2 {
  background-image: url('../assets/cells/cell-factory-on-grass-captured-by-2.png');
}
.cell-container.-building.-factory.-ongrass.-halfcaptured {
  background-image: url('../assets/cells/cell-factory-on-grass-halfcaptured.png');
}
.cell-container.-building.-factory.-ongrass.-halfcaptured.-capturedby1 {
  background-image: url('../assets/cells/cell-factory-on-grass-halfcaptured-by-1.png');
}
.cell-container.-building.-factory.-ongrass.-halfcaptured.-capturedby2 {
  background-image: url('../assets/cells/cell-factory-on-grass-halfcaptured-by-2.png');
}
.cell-container.-building.-hospital.-ongrass {
  background-image: url('../assets/cells/cell-hospital-on-grass.png');
}
.cell-container.-building.-hospital.-ongrass.-capturedby1 {
  background-image: url('../assets/cells/cell-hospital-on-grass-captured-by-1.png');
}
.cell-container.-building.-hospital.-ongrass.-capturedby2 {
  background-image: url('../assets/cells/cell-hospital-on-grass-captured-by-2.png');
}
.cell-container.-building.-hospital.-ongrass.-halfcaptured {
  background-image: url('../assets/cells/cell-hospital-on-grass-halfcaptured.png');
}
.cell-container.-building.-hospital.-ongrass.-halfcaptured.-capturedby1 {
  background-image: url('../assets/cells/cell-hospital-on-grass-halfcaptured-by-1.png');
}
.cell-container.-building.-hospital.-ongrass.-halfcaptured.-capturedby2 {
  background-image: url('../assets/cells/cell-hospital-on-grass-halfcaptured-by-2.png');
}
.cell-container.-building.-city.-active::after {
  content: '+200$';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 95%);
  font-weight: 100;
  -webkit-animation: addMoneyToBalance 5s forwards;
          animation: addMoneyToBalance 5s forwards;
}
.cell-container.-building.-city.-ongrass {
  background-image: url('../assets/cells/cell-city-on-grass.png');
}
.cell-container.-building.-city.-ongrass.-capturedby1 {
  background-image: url('../assets/cells/cell-city-on-grass-captured-by-1.png');
}
.cell-container.-building.-city.-ongrass.-capturedby2 {
  background-image: url('../assets/cells/cell-city-on-grass-captured-by-2.png');
}
.cell-container.-building.-city.-ongrass.-halfcaptured {
  background-image: url('../assets/cells/cell-city-on-grass-halfcaptured.png');
}
.cell-container.-building.-city.-ongrass.-halfcaptured.-capturedby1 {
  background-image: url('../assets/cells/cell-city-on-grass-halfcaptured-by-1.png');
}
.cell-container.-building.-city.-ongrass.-halfcaptured.-capturedby2 {
  background-image: url('../assets/cells/cell-hospital-on-grass-halfcaptured-by-2.png');
}
.explosion {
  width: inherit;
  height: inherit;
}
.unit-container {
  width: 100%;
  height: 100%;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
}
.unit-container.-infantry.-one {
  background-image: url('../assets/units/infantry-1.png');
}
.unit-container.-infantry.-two {
  background-image: url('../assets/units/infantry-2.png');
}
.unit-container.-jeep.-one {
  background-image: url('../assets/units/jeep-1.png');
}
.unit-container.-jeep.-two {
  background-image: url('../assets/units/jeep-2.png');
}
.unit-container.-artillery.-one {
  background-image: url('../assets/units/artillery-1.png');
}
.unit-container.-artillery.-two {
  background-image: url('../assets/units/artillery-2.png');
}
.unit-container.-tank.-one {
  background-image: url('../assets/units/tank-1.png');
}
.unit-container.-tank.-two {
  background-image: url('../assets/units/tank-2.png');
}
.unit-container.-selected {
  -webkit-transform: scale(1.0125);
          transform: scale(1.0125);
}
.unit-container .status {
  width: 15px;
  height: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 960px) {
  .unit-container .status {
    width: 25px;
    height: 25px;
  }
}
.unit-container .-outofammo {
  background-image: url('../assets/icons/icon-attack-capacity.png');
  -webkit-animation: outOf 2.5s infinite alternate;
          animation: outOf 2.5s infinite alternate;
  /* specific styles for out of ammo */
}
.unit-container .-outofmovement {
  background-image: url('../assets/icons/icon-movement.png');
  -webkit-animation: outOf 2.5s infinite alternate;
          animation: outOf 2.5s infinite alternate;
  /* specific styles for out of movement */
}
.unit-container .-outofcapture {
  background-image: url('../assets/icons/icon-capture-capacity.png');
  -webkit-animation: outOf 2.5s infinite alternate;
          animation: outOf 2.5s infinite alternate;
  /* specific styles for out of capture */
}
.stats-container {
  padding: 0.5em 1em;
  z-index: 999;
  gap: 0.5em;
  text-shadow: -1px -1px 0 hsl(334, 25%, 20%), 1px -1px 0 hsl(334, 25%, 20%), -1px 1px 0 hsl(334, 25%, 20%), 1px 1px 0 hsl(334, 25%, 20%);
  border: 2px solid hsl(334, 25%, 20%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 10px;
  z-index: 100;
}
@media (min-width: 960px) {
  .stats-container {
    font-size: 16px;
  }
}
.stats-container .miniature {
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
@media (min-width: 960px) {
  .stats-container .miniature {
    width: 25px;
    height: 25px;
  }
}
.stats-container .stat::before {
  content: "";
  width: 15px;
  height: 15px;
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
}
@media (min-width: 960px) {
  .stats-container .stat::before {
    width: 25px;
    height: 25px;
  }
}
.stats-container .stat.-movement::before {
  background-image: url('../assets/icons/icon-movement.png');
}
.stats-container .stat.-defense::before {
  background-image: url('../assets/icons/icon-defense.png');
}
.stats-container .stat.-health::before {
  background-image: url('../assets/icons/icon-health.png');
}
.stats-container .stat.-attackrange::before {
  background-image: url('../assets/icons/icon-attack-range.png');
}
.stats-container .stat.-attackcapacity::before {
  background-image: url('../assets/icons/icon-attack-capacity.png');
}
.stats-container .stat.-attackdamage::before {
  background-image: url('../assets/icons/icon-attack-damage.png');
}
.grid-container {
  max-width: 100%;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: #1e1e1e73 20px 12px 20px 20px;
  z-index: 1;
}
.grid-container.-board1 {
  grid-template-columns: repeat(8, 0fr);
  grid-template-rows: repeat(8, 0fr);
}
.grid-container.-board2 {
  grid-template-columns: repeat(12, 0fr);
  grid-template-rows: repeat(8, 0fr);
}
.grid-container .cell-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-container section {
  padding: 1em;
  margin-bottom: 4em;
}
.index-container .boardpreview-container {
  gap: 2em;
}
.index-container .boardpreview-container a {
  gap: 1em;
}
.index-container .logo {
  width: 100%;
  max-width: 960px;
}
.index-container a:hover {
  scale: 1.025;
}
.index-container .boardpreview {
  max-width: 100%;
  max-height: 320px;
}
.index-container .description-container {
  max-width: 480px;
}
.index-container .description-container h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.index-container .description-container img {
  max-width: 160px;
}
.index-container .description-container.-landscape {
  margin-bottom: 1em;
  gap: 1em;
}
.index-container .description-container.-landscape img {
  max-width: 120px;
  padding: 0.5em;
}
.index-container .description-container .description-subcontainer {
  width: 100%;
  max-width: 320px;
}
.index-container footer {
  padding: 1em;
}
.uifeedback-container {
  width: 100%;
  height: 75px;
  padding: 0.5em;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  font-size: clamp(8px, 3vw, 1em);
}
.uifeedback-container p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.uifeedback-container.-hidden {
  display: none;
}
.moneyandplayer-container {
  width: 100%;
  max-width: 480px;
  margin: auto;
  padding: 2em 0 0;
}
.moneyandplayer-container .moneyandendround-container {
  margin-top: 0.5em;
}
.moneyandplayer-container .moneyandplayer-subcontainer {
  row-gap: 0.5em;
  margin-bottom: 0.5em;
}
.moneyandplayer-container .money-container {
  width: 100%;
  padding: 0 1em;
}
.moneyandplayer-container .round-container,
.moneyandplayer-container .player-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  gap: 0.25em;
  padding-left: 0.5em;
  border: 2px solid hsl(240, 2%, 41%);
}
.moneyandplayer-container .player-container img {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  display: none;
}
.moneyandplayer-container .player-container img.active {
  display: flex;
}
.moneyandplayer-container .round-container {
  padding-right: 0.5em;
}
.board-container {
  width: 100%;
  max-width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.stats-container {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
@media (min-width: 960px) {
  .stats-container {
    bottom: 10px;
    left: 10px;
    right: auto;
  }
}
@media (min-width: 480px) {
  .stats-container {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media (min-width: 480px) {
  .stats-container {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.grid-container {
  max-width: 95vw;
  overflow-x: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 4px solid hsl(240, 2%, 41%);
}
.dialog-container {
  margin-top: 1em;
  z-index: 999;
  border: 1px solid hsl(240, 2%, 41%);
}
.dialog-container .buttons-container {
  gap: 1em;
}
.factory-container {
  width: 100%;
  max-width: 640px;
  display: none;
  gap: 1em;
  position: fixed;
  top: 2em;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2em;
  z-index: 999;
  border: 4px solid hsl(240, 2%, 41%);
}
.factory-container .factoryunit-container h3 {
  margin-top: 0;
}
.factory-container .factoryunit-container .nameandprice-container {
  width: 100%;
}
@media (min-width: 480px) {
  .factory-container .factoryunit-container .nameandprice-container {
    width: calc(100% - 120px - 1em);
  }
}
.factory-container .factoryunit-container .button {
  width: 100%;
}
@media (min-width: 480px) {
  .factory-container .factoryunit-container .button {
    max-width: 120px;
  }
}
.board-container {
  width: 100%;
  max-width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.optionsandendround-container {
  width: 100%;
  max-width: 640px;
  padding-bottom: 6em;
  padding-left: 2em;
  padding-right: 2em;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  row-gap: 2em;
  margin: auto;
}
@media (min-width: 960px) {
  .optionsandendround-container {
    -webkit-column-gap: 18em;
       -moz-column-gap: 18em;
            column-gap: 18em;
  }
}
.endround-container {
  max-width: 100%;
  width: 320px;
  margin-bottom: 2em;
}
.endround-container .endround {
  width: 100%;
}
.console-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  padding: 2em;
  margin-top: 1em;
  z-index: 1;
  font-size: 2em;
  font-family: 'VT323', monospace;
  display: none;
}
.console-container.active {
  display: flex;
  flex-flow: column;
}
.console-container::-webkit-scrollbar {
  width: 0.125em;
}
.console-container::-webkit-scrollbar-thumb {
  width: inherit;
  background: hsl(103, 49%, 59%);
}
.console-container::-webkit-scrollbar-thumb:active,
.console-container::-webkit-scrollbar-thumb:hover {
  background: darkred;
}
.console-container p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: hsl(0, 0%, 95%);
}
@-webkit-keyframes outOf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes outOf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes UIFeedbackContainer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.01;
    display: none;
  }
}
@keyframes UIFeedbackContainer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.01;
    display: none;
  }
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@-webkit-keyframes waterAnimation {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 102.5%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes waterAnimation {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 102.5%;
  }
  100% {
    background-size: 100%;
  }
}
@-webkit-keyframes waterAnimationBefore {
  0% {
    background-position-y: 10%;
    background-position-x: 10%;
    opacity: 0.1;
  }
  50% {
    background-position-y: 20%;
    background-position-x: 50%;
    opacity: 0.5;
  }
  100% {
    background-position-y: 10%;
    background-position-x: 10%;
    opacity: 0.1;
  }
}
@keyframes waterAnimationBefore {
  0% {
    background-position-y: 10%;
    background-position-x: 10%;
    opacity: 0.1;
  }
  50% {
    background-position-y: 20%;
    background-position-x: 50%;
    opacity: 0.5;
  }
  100% {
    background-position-y: 10%;
    background-position-x: 10%;
    opacity: 0.1;
  }
}
@-webkit-keyframes addMoneyToBalance {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}
@keyframes addMoneyToBalance {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}
.glow {
  -webkit-animation: glow 1s ease-in-out 3 alternate;
          animation: glow 1s ease-in-out 3 alternate;
}
._unborder {
  border: none;
}
._unborderradius {
  border-radius: 0;
}
._color.-white {
  color: hsl(0, 0%, 95%);
}
._color.-bgblack {
  background-color: hsl(240, 2%, 11%);
}
._color.-lightblack {
  color: hsl(240, 2%, 26%);
}
._color.-bglightblack {
  background-color: hsl(240, 2%, 26%);
}
._color.-green {
  color: hsl(103, 49%, 59%);
}
._color.-red {
  color: hsl(0, 64%, 42%);
}
._display.-block {
  display: block;
}
._display.-grid {
  display: grid;
}
._display.-table {
  display: table;
}
._display.-none {
  display: none;
}
._flex {
  display: flex;
}
._flex.-wrap {
  flex-wrap: wrap;
}
._flex.-row {
  flex-direction: row;
}
._flex.-rowreverse {
  flex-direction: row-reverse;
}
._flex.-columnreverse {
  flex-direction: column-reverse;
}
._flex.-column {
  flex-direction: column;
}
._flex.-justifystart {
  justify-content: flex-start;
}
._flex.-justifyend {
  justify-content: flex-end;
}
._flex.-justifyspacebetween {
  justify-content: space-between;
}
._flex.-justifyspacearound {
  justify-content: space-around;
}
._flex.-justifyspacevenly {
  justify-content: space-evenly;
}
._flex.-justifycenter {
  justify-content: center;
}
._flex.-alignbaseline {
  align-items: baseline;
}
._flex.-aligncenter {
  align-items: center;
}
._flex.-alignend {
  align-items: flex-end;
}
._flex.-alignspacevenly {
  align-items: space-evenly;
}
._flex.-alignstart {
  align-items: flex-start;
}
._flex.-alignselfstart {
  align-self: self-start;
}
._flex.-alignselfend {
  align-self: self-end;
}
._flex.-gap.-half {
  gap: 0.25em;
}
._hide.-always {
  display: none;
}
@media (max-width: 320px) {
  ._hide.-lessthan.-xxs {
    display: none;
  }
}
@media (max-width: 480px) {
  ._hide.-lessthan.-xs {
    display: none;
  }
}
@media (max-width: 640px) {
  ._hide.-lessthan.-s {
    display: none;
  }
}
@media (max-width: 960px) {
  ._hide.-lessthan.-m {
    display: none;
  }
}
@media (max-width: 1024px) {
  ._hide.-lessthan.-l {
    display: none;
  }
}
@media (max-width: 1980px) {
  ._hide.-lessthan.-xl {
    display: none;
  }
}
@media (min-width: 321px) {
  ._hide.-morethan.-xxs {
    display: none;
  }
}
@media (min-width: 481px) {
  ._hide.-morethan.-xs {
    display: none;
  }
}
@media (min-width: 641px) {
  ._hide.-morethan.-s {
    display: none;
  }
}
@media (min-width: 961px) {
  ._hide.-morethan.-m {
    display: none;
  }
}
@media (min-width: 1025px) {
  ._hide.-morethan.-l {
    display: none;
  }
}
@media (min-width: 1981px) {
  ._hide.-morethan.-xl {
    display: none;
  }
}
._margin.-auto {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  ._margin.-lessthan.-xss {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 480px) {
  ._margin.-lessthan.-xs {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 640px) {
  ._margin.-lessthan.-s {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  ._margin.-lessthan.-m {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  ._margin.-lessthan.-l {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  ._margin.-lessthan.-xl {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  ._margin.-lessthan.-xxl {
    margin-left: 0;
    margin-right: 0;
  }
}
._margin.-none {
  margin: 0;
}
._text.-center {
  text-align: center;
}
._text.-right {
  text-align: right;
}
._text.-left {
  text-align: left;
}
._text.-justify {
  text-align: justify;
}
._text.-unbold {
  font-weight: 400;
}
._text.-bold {
  font-weight: 700;
}
._text.-xs {
  font-size: 0.75em;
}
._text.-s {
  font-size: 1em;
}
._text.-m {
  font-size: 1.5em;
}
._text.-l {
  font-size: 2em;
}
._text.-xl {
  font-size: 3em;
}
._text.-capitalize {
  text-transform: capitalize;
}
._text.-uppercase {
  text-transform: uppercase;
}
._text.-italic {
  font-style: italic;
}
._text.-underlined {
  text-decoration: underline;
}
