.grid-container {
  max-width: 100%;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: #1e1e1e73 20px 12px 20px 20px;
  z-index: 1;
  
  // 64 cells board game (square)
  &.-board1 {
    grid-template-columns: repeat(8, 0fr);
    grid-template-rows: repeat(8, 0fr);
  }
  
  // 96 cells board game (rectangle)
  &.-board2 {
    grid-template-columns: repeat(12, 0fr);
    grid-template-rows: repeat(8, 0fr);
  }
  
  .cell-container { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}