.index-container {
  .boardpreview-container {
    gap: 2em;
    margin-top: 2em;
  }
  
  .logo {
    width: 100%;
    max-width: @m;
  }

  a:hover {
    scale: 1.025;
  }
  
  .boardpreview {
    max-height: @xxs;
  }
}