.uifeedback-container {
  width: 100%;
  height: 75px;
  padding: .5em;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  font-size: clamp(8px, 3vw, 1em);
  
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  &.-hidden {
    display: none;
  }
}

.moneyandplayer-container {
  position: sticky;
  width: 100%;
  margin: auto;
  padding: 2em 0 0;
  top: 0;
  z-index: 100;
  
  .moneyandendround-container {
    margin-top: .5em;
  }
  
  .moneyandplayer-subcontainer {
    row-gap: .5em;
    margin-bottom: .5em;
  }
  
  .money-container {
    width: 100%;
    padding: 0 1em;
  }
  
  .round-container, 
  .player-container {
    width: fit-content;
    height: 30px;
    gap: .25em;
    padding-left: .5em;
    border: 2px solid @ultralightblack;
  }
  
  .player-container {
    img {
      width: calc(100% - 1px);
      height: calc(100% - 1px);
      display: none;
      
      &.active {
        display: flex;
      }
    }
  }
  
  .round-container {
    padding-right: .5em;
  }
}

.board-container {
  width: 100%;
  max-width: 100%;
  min-width: fit-content;
}

.stats-container {
  max-width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  
  @media(min-width: @m) {
    bottom: 10px;
    left: 10px;
    right: auto;
  }
  
  @media(min-width: @xs) {
    max-width: fit-content;
  }
  
  @media(min-width: @xs) {
    max-width: fit-content;
  }
}

.grid-container {
  max-width: 95vw;
  overflow-x: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 4px solid @ultralightblack;
}

.dialog-container {
  margin-top: 1em;
  z-index: 999;
  border: 1px solid @ultralightblack;
  
  .buttons-container {
    gap: 1em;
  }
}

.factory-container {
  width: 100%;
  max-width: @s;
  display: none;
  gap: 1em;
  position: fixed;
  top: 2em;
  left: 0;
  right: 0;
  margin: auto;
  padding: 2em;
  z-index: 999;
  border: 4px solid @ultralightblack;
  
  h3 {
    margin-top: 0;
  }
  
  .factoryunit-container {
    .nameandprice-container {
      width: 100%;
      
      @media (min-width: @xs) {
        width: calc(100% - 120px - 1em);
      }
    }
    
    .button { 
      width: 100%;
      
      @media (min-width: @xs) {
        max-width: 120px;
      }
    }
  }
}

.board-container {
  width: 100%;
  max-width: 100%;
  min-width: fit-content;
}

.optionsandendround-container {
  width: 100%;
  max-width: @s;
  padding-bottom: 6em;  
  padding-left: 2em;
  padding-right: 2em;
  column-gap: 2em;
  row-gap: 2em;
  margin: auto;
  
  @media(min-width: @m) {
    column-gap: 18em;
  }
}

.endround-container {
  max-width: 100%;
  width: @xxs;
  margin-bottom: 2em;
  
  .endround {
    width: 100%;
  }
}

.smartphoneui-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  gap: 1em;
  
  &.-active {
    display: flex;
  }
}

/*
.smartphonecontrols-container {
  width: 120px; 
  height: 120px; 
  position: sticky;
  bottom: 60px;
  right: 0;
  left: 0;
  z-index: 999;
  border-radius: 100%;
  margin-bottom: 2em;
  display: none;

  &.-active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .leftandright-container,
  .arrowup, 
  .arrowdown {
    width: 100%;
  }

  .arrowleft {
    padding-left: .5em;
  }

  .arrowright {
    padding-right: .5em;
  }
} 
*/

