.uifeedback-container {
  width: 100%;
  height: 75px;
  padding: .5em;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  font-size: clamp(8px, 3vw, 1em);

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.board-container {
  width: 100%;
  max-width: 100%;
  min-width: fit-content;
}

.stats-container {
  max-width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;

  @media(min-width: @m) {
    bottom: 10px;
    left: 10px;
    right: auto;
  }

  @media(min-width: @xs) {
    max-width: fit-content;
  }

  @media(min-width: @xs) {
    max-width: fit-content;
  }
}

.grid-container {
  max-width: 95vw;
  overflow-x: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.dialog-container {
  margin-top: 1em;
  z-index: 999;
  border: 1px solid @ultralightblack;

  .buttons-container {
    gap: 1em;
  }
}

.factory-container {
  width: 100%;
  max-width: @s;
  display: none;
  gap: 1em;
  position: fixed;
  top: 2em;
  left: 0;
  right: 0;
  margin: auto;
  background-color: hsl(0, 3%, 27%);
  z-index: 999;
  padding: 2em;
  
  .factoryunit-container {
    .nameandprice-container {
      width: 75%;
    }
    
    button {
      max-width: 120px;
    }
  }
}

.board-container {
  width: 100%;
  max-width: 100%;
  min-width: fit-content;
}

.endround-container {
  max-width: 100%;
  width: @xxs;
  margin-bottom: 2em;

  .endround {
    width: 100%;
  }
}

.moneyandplayer-container {
  width: 100%;
  max-width: @xs;
  margin: auto;
  padding: 2em 0 0;
  
  .moneyandendround-container {
    margin-top: .5em;
  }

  .moneyandplayer-subcontainer {
    row-gap: .5em;
    margin-bottom: .5em;
  }

  .money-container {
    width: 100%;
    padding: 0 1em;
  }

  .round-container, 
  .player-container {
    width: fit-content;
    height: 30px;
    gap: .25em;
    padding-left: .5em;
    border: 2px solid @darkbrown;
  }

  .player-container {
    img {
      width: inherit;
      height: inherit;
      display: none;
  
      &.active {
        display: flex;
      }
    }
  }

  .round-container {
    padding-right: .5em;
  }
}

.console-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  padding: 2em;
  margin-top: 1em;
  z-index: 1;
  font-size: 2em;
  font-family: 'VT323', monospace;
  display: none;

  &.active {
    display: flex;
    flex-flow: column;
  }

  // custom scrollbar for webkit compatible navigators
  &::-webkit-scrollbar {
    width: .125em; // v scrollbar
  }
  
  &::-webkit-scrollbar-thumb {
    width: inherit;
    background: @green;
    
    &:active,
    &:hover {
      background: darkred;
    }
  }
  
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: @white;
  }
}

