.stats-container {
  width: fit-content;
  pointer-events: none; // needed to prevent bug when selecting unit using selectUnit() function
  margin: .25em;
  user-select: none;
}

.stat {
  z-index: 100;
  user-select: none;

  &::before {
    content: "";
    width: 25px;
    height: 25px;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
  }
  
  &.-movementrange::before,
  &.-costofmovement::before  {
    background-image: url('../assets/icons/icon-movement-range.png');
  }

  &.-bonusofdefense::before, 
  &.-defense::before {
    background-image: url('../assets/icons/icon-defense.png');
  }

  &.-health::before {
    background-image: url('../assets/icons/icon-health.png');
  }

  &.-attackrange::before {
    background-image: url('../assets/icons/icon-attack-range.png');
  }
}