.unit-container {
  width: 100%;
  height: 100%;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
  
  &.-infantry {
    &.-one {
      background-image: url('../assets/units/infantry-1.png');
    }
    
    &.-two {
      background-image: url('../assets/units/infantry-2.png');
    }
  }
  
  &.-jeep {
    &.-one {
      background-image: url('../assets/units/jeep-1.png');
    }
    &.-two {
      background-image: url('../assets/units/jeep-2.png');
    }
  }

  &.-artillery {
    &.-one {
      background-image: url('../assets/units/artillery-1.png');
    }
    &.-two {
      background-image: url('../assets/units/artillery-2.png');
    }
  }

  &.-tank {
    &.-one {
      background-image: url('../assets/units/tank-1.png');
    }
    &.-two {
      background-image: url('../assets/units/tank-2.png');
    }
  }

  &.-selected {
    transform: scale(1.0125);
  }
  
  &.-outofammo::before {
    content: "";
    width: 15px;
    height: 15px;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../assets/icons/icon-attack-capacity.png');
    animation: outOf 2.5s infinite alternate;
  }

  &.-outofmovement::after {
    content: "";
    width: 15px;
    height: 15px;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../assets/icons/icon-movement.png');
    animation: outOf 2.75s infinite alternate;
  }
}
