.unit-container {
  width: inherit;
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 999;
  
  &.-highlighted {
    scale: 1.0125;
    
    &.-outofresidualmovecapacity {
      border: 0;
      opacity: 0.75;
    }
  }
  
  &.-infantry {
    &.-one {
      background-image: url('../assets/units/infantry-1.png');
    }
    
    &.-two {
      background-image: url('../assets/units/infantry-2.png');
    }
  }
  
  &.-jeep {
    &.-one {
      background-image: url('../assets/units/jeep-1.png');
    }
    &.-two {
      background-image: url('../assets/units/jeep-2.png');
    }
  }

  &.-artillery {
    &.-one {
      background-image: url('../assets/units/artillery-1.png');
    }
    &.-two {
      background-image: url('../assets/units/artillery-2.png');
    }
  }
}
